{
    "parser": "babel-eslint",
    "env": {
        "browser": true,
        "es6": true
    },
    "plugins": [
        "react"
    ],
    "extends": [
        "plugin:react/recommended",
        "plugin:react-native/all"
    ],
    "rules": {
        // overrides
        "indent": ["error", 4],
        "prefer-const": "error",
        "no-var": "error"
    }
}